header1{
  font-size: 30px;
  font-family: 'dokdo';
  text-align: center;
  color: white;
}


main{
  margin-left: 120px;
}

.box{
  display: block;
  float: left;
  width: 20%;
  padding: 10px;
  padding-left: 12px;
}

img {
  width: 100%;
  border-radius: 10px;
}

img:hover{
  transform: scale(3,2.5);
  transition: .3s transform;
}